In [13]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor
from sklearn.

In [14]:
df = pd.read_csv("Dataset/mumbai_hotels.csv")
df

,Name,Latitude,Longitude,Air conditioning,Housekeeping,Private balcony,Private bathrooms,VIP room facilities,Complimentary toiletries,Room service,...,Ocean view,City view,Landmark view,Pool view,Non-smoking rooms,Smoking rooms available,Suites,Rating,Number of reviews,Price
0,Lemon Tree Premier-Mumbai International Airport,19.107975,72.882187,1,0,0,0,0,0,1,...,0,0,0,0,1,1,1,4.5,382,3882.76
1,The Fern - Goregaon,19.162237,72.857132,1,0,0,0,0,0,1,...,0,0,0,0,1,1,1,4.5,771,3541.46
2,"Taj Lands End, Mumbai",19.043695,72.819252,1,1,0,1,1,1,1,...,1,0,1,1,1,1,1,4.5,4732,5458.54
3,Grand Hyatt Mumbai Hotel & Residences,19.076893,72.851112,1,1,0,1,1,1,1,...,0,1,0,1,1,1,1,4.5,4709,5616.80
4,"Trident, Bandra Kurla, Mumbai",19.066547,72.867554,1,1,0,0,1,0,1,...,0,0,0,0,1,1,1,4.5,4613,5040.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,Fluorescent by Bizzgrow Hotels International A...,19.104584,72.861237,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.5,18,3204.43
416,Hotel Mumbai International,19.106827,72.859879,1,1,0,0,0,1,1,...,0,0,0,0,1,0,0,4.0,36,2368.34
417,Hotel Residency Park,18.952660,72.833076,1,0,0,0,0,0,1,...,0,1,0,0,1,0,1,3.5,9,1511.16
418,Hotel Sunshine,19.103537,72.879311,1,1,0,1,0,1,1,...,0,0,0,0,0,0,0,3.0,11,2910.88
419,Hotel Metro Point,19.127451,72.833580,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,1.0,1,2380.00

In [15]:
df_norm = df.copy(deep=True)
df_norm['Latitude'] = (df_norm['Latitude'] - min(df_norm['Latitude']))/(max(df_norm['Latitude']) - min(df_norm['Latitude']))
df_norm['Longitude'] = (df_norm['Longitude'] - min(df_norm['Longitude']))/(max(df_norm['Longitude']) - min(df_norm['Longitude']))
df_norm['Rating'] = (df_norm['Rating'] - min(df_norm['Rating']))/(max(df_norm['Rating']) - min(df_norm['Rating']))
df_norm['Number of reviews'] = (df_norm['Number of reviews'] - min(df_norm['Number of reviews']))/(max(df_norm['Number of reviews']) - min(df_norm['Number of reviews']))
df_norm['Price'] = (df_norm['Price'] - min(df_norm['Price']))/(max(df_norm['Price']) - min(df_norm['Price']))
df_norm

,Name,Latitude,Longitude,Air conditioning,Housekeeping,Private balcony,Private bathrooms,VIP room facilities,Complimentary toiletries,Room service,...,Ocean view,City view,Landmark view,Pool view,Non-smoking rooms,Smoking rooms available,Suites,Rating,Number of reviews,Price
0,Lemon Tree Premier-Mumbai International Airport,0.501838,0.302454,1,0,0,0,0,0,1,...,0,0,0,0,1,1,1,0.875,0.043924,0.142123
1,The Fern - Goregaon,0.640887,0.226777,1,0,0,0,0,0,1,...,0,0,0,0,1,1,1,0.875,0.088771,0.127273
2,"Taj Lands End, Mumbai",0.337118,0.112363,1,1,0,1,1,1,1,...,1,0,1,1,1,1,1,0.875,0.545423,0.210683
3,Grand Hyatt Mumbai Hotel & Residences,0.422188,0.208595,1,1,0,1,1,1,1,...,0,1,0,1,1,1,1,0.875,0.542772,0.217569
4,"Trident, Bandra Kurla, Mumbai",0.395677,0.258256,1,1,0,0,1,0,1,...,0,0,0,0,1,1,1,0.875,0.531704,0.192473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,Fluorescent by Bizzgrow Hotels International A...,0.493147,0.239175,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.375,0.001960,0.112609
416,Hotel Mumbai International,0.498895,0.235073,1,1,0,0,0,1,1,...,0,0,0,0,1,0,0,0.750,0.004035,0.076232
417,Hotel Residency Park,0.103834,0.154119,1,0,0,0,0,0,1,...,0,1,0,0,1,0,1,0.625,0.000922,0.038937
418,Hotel Sunshine,0.490464,0.293767,1,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0.500,0.001153,0.099837
419,Hotel Metro Point,0.551746,0.155640,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0.000,0.000000,0.076739

In [16]:
X = df_norm.drop(['Name', 'Price'], axis = 1)
X = np.array(X)
X_o = df.drop(['Name', 'Price'], axis = 1)
X_o = np.array(X_o)

In [17]:
y = np.array(df_norm['Price'])
y_o = np.array(df['Price'])

In [18]:
Model = LinearRegression()
Rfe = RFE(Model, n_features_to_select = 25)
Fit = Rfe.fit(X,y)
selected = Fit.support_
selected

array([False,  True, False, False, False,  True, False, False, False,
       False,  True,  True, False,  True,  True,  True, False, False,
        True, False, False,  True, False,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True, False,  True,
        True,  True, False, False, False, False,  True, False,  True,
        True, False, False, False,  True,  True])

In [19]:
tbd = []
l = len(selected)
for i in range(l):
    if selected[i]==False:
        tbd.append(i)
        
tbd

[0,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 12,
 16,
 17,
 19,
 20,
 22,
 27,
 30,
 32,
 34,
 38,
 39,
 40,
 41,
 43,
 46,
 47,
 48]

In [20]:
X = np.delete(X, tbd, 1)
X

array([[3.02454200e-01, 0.00000000e+00, 1.00000000e+00, ...,
        0.00000000e+00, 8.75000000e-01, 4.39243717e-02],
       [2.26777278e-01, 0.00000000e+00, 1.00000000e+00, ...,
        0.00000000e+00, 8.75000000e-01, 8.87710399e-02],
       [1.12363175e-01, 1.00000000e+00, 1.00000000e+00, ...,
        1.00000000e+00, 8.75000000e-01, 5.45423104e-01],
       ...,
       [1.54119138e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 6.25000000e-01, 9.22296518e-04],
       [2.93766563e-01, 1.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 5.00000000e-01, 1.15287065e-03],
       [1.55640051e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [21]:
reg = LinearRegression().fit(X,y)
reg_o = LinearRegression().fit(X_o,y_o)

In [22]:
print(reg.score(X,y))
print(reg_o.score(X_o, y_o))

0.4206483171456419
0.42852271988071644

In [23]:
rfr = RandomForestRegressor()
rfr_model = rfr.fit(X,y)

In [24]:
rfr_model.score(X,y)

0.9130261694153925